.headerContainer {
  height: 12.5rem;
  background-color: var(--gray-700);
  padding-top: 72px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 75rem;

  padding-inline: 12px;
  margin-inline: auto;
  gap: 50px;

  & img {
    width: 126px;
  }
}

.newTaskContainer {
  display: flex;

  width: 100%;
  max-width: 750px;
  gap: 10px;

  & input,
  & button {
    height: 54px;
    color: var(--grey-100);
  }

  & input {
    background-color: var(--gray-500);
    border: none;
    border-radius: 8px;

    flex-grow: 1;
    padding-inline: 1rem;

    &:focus {
      outline: 0;
      box-shadow: 0 0 1px 1px var(--purple-dark);
    }
  }

  & button {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: bold;
    padding-inline: 1.25rem;
    border-radius: 8px;
    background-color: var(--blue-dark);
    border: none;

    gap: 8px;
    transition: 0.2s;

    &:hover {
      background-color: var(--blue);
    }
  }
}
